---
import "../styles/global.css";
const { title = "Sitio", description = "" } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="min-h-dvh bg-white text-gray-900 antialiased">
    <slot />
  </body>
</html>
