---
// src/layouts/Base.astro
import "../styles/global.css";
import Navbar from '../components/Navbar.tsx';
import ShareButton from "../components/ShareButton.astro";
import SocialProofMini from "../components/SocialProofMini.tsx";

const {
  title = "Cambia Zelle a Bs.S en minutos | AD Global Pay",
  description = "Cambia tu saldo de USD a Bs.S de forma rápida, segura y confiable."
} = Astro.props;
---

<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/img/logo.webp" type="image/x-icon" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TMP3GC84');
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body class="min-h-dvh bg-white text-gray-900 antialiased pt-20">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TMP3GC84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Navbar client:only="react" />

    <main>
      <slot />
    </main>

    <ShareButton />
    <SocialProofMini client:load /> 
  </body>
</html>