---
// src/layouts/Base.astro
import "../styles/global.css";
import Navbar from '../components/Navbar.tsx'; //

const {
  title = "Cambia Zelle a Bs.S en minutos | AD Global Pay",
  description = "Cambia tu saldo de USD a Bs.S de forma rápida, segura y confiable."
} = Astro.props;
---

<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" href="/img/logo.webp" type="image/x-icon" />
  </head>

  <body class="min-h-dvh bg-white text-gray-900 antialiased pt-20">
    <Navbar client:only="react" />

    <main>
      <slot />
    </main>
  </body>
</html>